@model QuizApp.Models.ViewModels.LobbyVM

<div class="row mt-5">
    <div class="col-6">
        <label style="font-size:20px">Share this code with other users to allow them to join</label>
        <div class="input-group w-75">
            <input type="text" class="form-control" id="lobbyCode" style="height:60px; font-size:30px;" value="@Model.LobbyCode" readonly />
            <div class="input-group-append">
                <button class="btn btn-primary" id="copyButton" type="button" style="font-size:20px;" onclick="copy()" 
                       data-toggle="tooltip" data-placement="bottom" title="Copy to Clipboard">Copy</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        @if (Model.IsOwner)
        {
            <br />
            <br />
            <button class="btn btn-primary ml-5" style="font-size:25px;" onclick="beginQuiz()">
                <i class="fas fa-play-circle"></i>&nbsp; Start the quiz
            </button>
        }
        else
        {
            <br />
            <h1 class="text-primary font-weight-bold">
                Waiting for the lobby owner to start the quiz...
            </h1>
        }
    </div>
</div>
<div class="row mt-5 pt-4 border-top">
    <div class="col-8 h6">
        <div class="float-right pr-4">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            &nbsp;(0)
        </div>
        <br />
        <br />
        <h2 class="text-primary">@Model.Quiz.Title</h2>
        @if (Model.Quiz.Description == null)
        {
            <h4>No description</h4>
        }
        else
        {
            <h4>@Html.Raw(Model.Quiz.Description)</h4>
        }
        <div class="row mt-4">
            <div class="col-4 h5">
                <span><i class="far fa-question-circle"></i> &nbsp;<span class="font-weight-bold">Total questions:</span> @Model.Quiz.Questions.Count</span>
            </div>
            <div class="col-4 h5">
                <span><i class="far fa-clock"></i> &nbsp;<span class="font-weight-bold">Total time required:</span> @Model.Quiz.Questions.Sum(q => q.Time) s</span>
            </div>
            <div class="col-4 h5">
                <span><i class="fas fa-medal"></i> &nbsp;<span class="font-weight-bold">Total points:</span> @Model.Quiz.Questions.Sum(q => q.Points)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 h5">
                <span><i class="far fa-calendar"></i> &nbsp;<span class="font-weight-bold">Created on:</span> @Model.Quiz.CreatedAt.ToShortDateString()</span>
            </div>
            <div class="col-4 h5">
                <span><i class="fas fa-user"></i> &nbsp;<span class="font-weight-bold">Created by:</span> @Model.Quiz.CreatedBy.UserName</span>
            </div>
        </div>
    </div>
    <div class="col-4 border-left">
        <h1>Connected users:</h1>
        <div id="userBox" onclick="test()">

        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/utils/sweer-alert-generation.js"></script>
    <script>
        var lobbyId = "@Model.LobbyCode";
        var isOwner = @(Model.IsOwner? 1 : 0);
        var redirectURL = '@Url.Action("Index","Home")';

        var connection = new signalR.HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Trace)
            .withUrl("/hubs/lobby")
            .build();

        connection.on("initializeUsers", (lobby) => {
            var userBox = document.getElementById("userBox");
            userBox.innerHTML = "";
            userBox.innerHTML += generateHostUserLabel(lobby.ownerUsername);
            var i;
            for (i = 0; i < lobby.connectedUsers.length; i++) {
                userBox.innerHTML += generateUserLabel(lobby.connectedUsers[i]);
            }
        });

        connection.on("addUser", (user) => {
            document.getElementById("userBox").innerHTML += generateUserLabel(user);
        });

        connection.on("redirectToQuiz", (url) => {
            window.location.replace(url);
        });

        connection.on("closeLobby", () => { generateSwalRedirect("error", "Lobby Error", "The owner has closed this lobby", redirectURL) });

        connection.start().then(startSuccess, startFail);

        function startSuccess() {
            console.log("connected");
            connectToLobby();
        }

        function startFail() {
            console.log("connection failed");
            generateSwalRedirect("error", "Lobby Error", "The Owner has closed this lobby", redirectURL)
        }

        function connectToLobby() {
            if (isOwner) {
                connection.invoke("ConnectOwnerToLobby", lobbyId);
            }
            else {
                connection.invoke("ConnectToLobby", lobbyId);
            }
        }

        function beginQuiz() {
            connection.invoke("BeginQuiz", lobbyId);
        }

        function copy() {
            var element = document.getElementById("lobbyCode");
            var button = document.getElementById("copyButton");
            element.select();
            element.setSelectionRange(0, 99999);
            var success = document.execCommand("copy");
            if (success) {
                $(button).tooltip('hide')
                    .attr('data-original-title', 'Copied!')
                    .tooltip('show');
            } else {
                $(button).tooltip('hide')
                    .attr('data-original-title', 'Please use ctr + c')
                    .tooltip('show');
            }
        }
    </script>
}